* {
  margin: 0;
  padding: 0;
}

#sidebar, #mainContent, #generalInfo{
    border: 2px solid green;
    padding: 1rem;
}
li{
    list-style: none;
}

#mainContainer{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 0.4rem;
}

#mainContent{
    display: grid;
}

.displayProjects{
    padding: 1rem;
    border: 2px solid pink;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
}
.projectCard{
    border: 2px solid blue;
    border-radius: 0.5rem;
    padding: 5px;
}

.greeting{
    justify-self: self-start;
    border: 1px solid yellow;
}

.nav{
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header{
    justify-self: self-start;
    font-family: "Odibee Sans", sans-serif;
    font-size: 2rem;
}

img{
    max-width: 100%;
    height: auto;
    border: 1px solid lime;
}

.options{
    display: grid;
    border: 2px solid green;
    grid-template-columns: repeat(4, 1fr);
}

.progressCard{
    border: 2px solid indigo;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
