* {
  margin: 0;
  padding: 0;
}

#sidebar, #mainContent, #generalInfo{
    border: 2px solid green;
    padding: 1rem;
}
li{
    list-style: none;
}

#mainContainer{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    gap: 0.4rem;
}

#mainContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#infoCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.7rem;
}

#infoCard .card img{
    width: 1.5rem;
    height: 1.5rem;
}
#infoCard .card span{
    display: flex;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid rgb(251, 251, 251);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.183);
}
#statsCard{
    /*border: 2px solid yellow; */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, auto));
}
.graphCard{
    grid-column: span 2;
}
.studentCard{
    text-align: center;
    flex-grow: 1;
}
.studentPer{
    line-height: 2;
}
.studentInfo{
    display: flex;
    justify-content: space-between;
}
#lessonsContainer{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border: 3px solid pink;

}

.textSpan{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.lessons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}
.lessons div:first-of-type{
    grid-column: span 3;
}
.mainLessonsCont{
    /*border: 3px solid green;*/
    display: grid;
    gap: 1rem;
}
#sidebar{
    display: grid;
    justify-content: center;
    border: 2px solid black;
    gap: 1rem;
    padding-bottom: 22rem;
    position: sticky;
    top: 0;
    background: white;
}
.infoCard{
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.eventInfo{
    /*border: 1px solid purple;*/
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 0 0.6rem;
}
.eventInfo > :nth-child(2){
    border-left: 3px solid black;
    padding-left: 0.3rem;
}
.infoCard > :nth-child(2){
    display: flex;
    justify-content: space-between;
}
.noteCard{
    border: 1px solid black;
}
.notesInfo{
    display: flex;
    gap: 0.6rem;
    justify-content: space-between;
}

#generalInfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}