* {
  margin: 0;
  padding: 0;
}

#sidebar, #mainContent, #generalInfo{
    border: 2px solid green;
    padding: 1rem;
}
li{
    list-style: none;
}

#mainContainer{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 0.4rem;
}

#mainContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#infoCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.7rem;
}

#infoCard .card img{
    width: 1.5rem;
    height: 1.5rem;
}
#infoCard .card span{
    display: flex;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid rgb(251, 251, 251);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.183);
}
#statsCard{
    /*border: 2px solid yellow; */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}
.studentCard{
    text-align: center;
    flex-grow: 1;
}
.studentPer{
    line-height: 2;
}
.studentInfo{
    display: flex;
    justify-content: space-between;
}
#lessonsContainer{
    border: 2px solid pink;
}

.graphImg{
    min-width: 700px;
    height: 16rem;
}
#chart_div{
    border: 2px solid green;
}


#sidebar{
    display: grid;
    justify-content: center;
    border: 2px solid black;
    gap: 1rem;
    padding-bottom: 22rem;
    position: sticky;
    top: 0;
    background: white;
}

